<a href="https://colab.research.google.com/github/keenannnnn/KKA-X-Semester-1-Kinan-El/blob/main/1_Fungsi_print_Muhammad_Kinan_El_Khalili_X_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data diri
Muhammad Kinan El Khalili
X-1

#Menampilkan Teks Bebas

In [ ]:
nama = "Muhammad Kinan El Khalili"
print(nama)

Muhammad Kinan El Khalili

#Menampilkan Nilai Variabel

In [ ]:
nama_saudara = "Abyan El Kareem"
jumlah_saudara = 3
print(nama_saudara)
print(jumlah_saudara)

Abyan El Kareem
3

#Menampilkan Variabel dan String

In [ ]:
print("Nama saudara saya adalah",nama_saudara,". dan saya memiliki ",jumlah_saudara," saudara.")

Nama saudara saya adalah Abyan El Kareem . dan saya memiliki  3  saudara.

In [ ]:
print("Nama saudara saya adalah "+nama_saudara+". dan saya memiliki "+str(jumlah_saudara)+" saudara.")

Nama saudara saya adalah Abyan El Kareem. dan saya memiliki 3 saudara.

In [ ]:
print(f"Nama saudara saya adalah {nama_saudara}. dan saya memiliki {jumlah_saudara} saudara.")

Nama saudara saya adalah Abyan El Kareem. dan saya memiliki 3 saudara.

#Escape String

In [ ]:
print("Nama: Kinan El")
print("Kelas: X.1")
print("No. Absen: 20")

Nama: Kinan El
Kelas: X.1
No. Absen: 20

In [ ]:
print("Nama: Kinan El\nKelas: X.1\nNo. Absen: 20")

Nama: Kinan El
Kelas: X.1
No. Absen: 20

In [ ]:
print("""Nama\t\t: Kinan El
Kelas\t\t: X.1
No. Absen\t: 20""")

Nama		: Kinan El
Kelas		: X.1
No. Absen	: 20

In [ ]:
print('Halo Nama Saya Habib Jafar')

Halo Nama Saya Habib Jafar

In [ ]:
print("Halo Nama Saya Habib Jafar")

Halo Nama Saya Habib Jafar

In [ ]:
print('Halo Nama Saya Habib Ja\'far')

Halo Nama Saya Habib Ja'far

In [ ]:
print("Bu Shinta Berkata, \"Tolong Fokus Ke TV Sejenak.\"")

Bu Shinta Berkata, "Tolong Fokus Ke TV Sejenak."

In [ ]:
print('Bu Shinta Berkata, "Tolong Fokus Ke TV Sejenak."')

Bu Shinta Berkata, "Tolong Fokus Ke TV Sejenak."

In [ ]:
print("Silahkan simpan file tugas KKA di folder Local Disk D:\\MAN DEMAK\\KKA\\TUGAS")

Silahkan simpan file tugas KKA di folder Local Disk D:\MAN DEMAK\KKA\TUGAS

In [ ]:
print('Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\\Man Demak\\Jadwal Piket.')
print("\n")
print("Senin\tSelasa\tRabu")
print("Jielo\tHasbi\tNaufal")
print("Azam\tA'inun\tNurul")

Bu Shinta Berkata, "Berikut adalah daftar piket harian kelas X.2 yang disimpan di file D:\Man Demak\Jadwal Piket.


Senin	Selasa	Rabu
Jielo	Hasbi	Naufal
Azam	A'inun	Nurul
"""

#Parameter Fungsi Print

In [ ]:
nama_siswa_1 = "Dias"
nama_siswa_2 = "Nur"

print(nama_siswa_1, end=" ")
print(nama_siswa_2)

Dias Nur

In [ ]:
print(nama_siswa_1, nama_siswa_2)

Dias Nur

In [ ]:
print(nama_siswa_1, nama_siswa_2, sep="-")

Dias-Nur

In [ ]:
nama_siswa_3 = "Kinan"
nama_siswa_4 = "Azka"
nama_siswa_5 = "Naufal"
nama_siswa_6 = "Ridho"
print(nama_siswa_6, nama_siswa_3, nama_siswa_5, nama_siswa_4, nama_siswa_4, sep="/")

Ridho/Kinan/Naufal/Azka/Azka

In [ ]:
print(nama_siswa_4, end="*")
print(nama_siswa_4, end="*")
print(nama_siswa_5, end="*")
print(nama_siswa_3, end="*")
print(nama_siswa_6)

Azka*Azka*Naufal*Kinan*Ridho